## Overview

To complete the project, I am using TMDB movies dataset, which consists of 20 columns

**Questions that can be analysized from this dataset:**
1. Is the overall film industry profitable as time passes?
2. Which movies has the most/least profit over the year?
3. What is the most successful generes, according to the profitable movies?
4. What is the relationship of the budget/popularity and revenue?
5. The average time of all the movies over the year?

In [1]:
# Use this cell to set up import statements for all of the packages that you

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [3]:
movies_df = pd.read_csv("tmdb_5000_movies.csv")

In [4]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
movies_df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [7]:
movies_df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [8]:
movies_df.duplicated().sum()

0

**Observations**:

    1. There are missing values in 'homepage', 'overview' and'tagline', but we don't need these columns -> no action taken. Only deal with columns: release_date and runtime
    2. There is no duplicates -> no need to remove duplicates
    3. Need to deal with release_date type: str -> datetime

### Data Cleaning

1. Remove unused column
2. Release_date column is string (obj), need to change it to datetime.
3. Replace NAN with zero or mean depends on cases
4. Remove zero values rows in budget and revenue with medium
5. Change budget and revenue type from float to int

**1. Remove unused column**

In [9]:
colums_drop = ['homepage', 'id', 'keywords', 'overview', 'production_companies', 'tagline', 'vote_count', 'vote_average']
movies_df.drop(colums_drop, axis = 1, inplace = True)

In [10]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   original_language     4803 non-null   object
 3   original_title        4803 non-null   object
 4   popularity            4803 non-null   float64
 5   production_countries  4803 non-null   object
 6   release_date          4802 non-null   object
 7   revenue               4803 non-null   int64
 8   runtime               4801 non-null   float64
 9   spoken_languages      4803 non-null   object
 10  status                4803 non-null   object
 11  title                 4803 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 450.4+ KB

In [11]:
movies_df.head()

,budget,genres,original_language,original_title,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,title
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,Avatar,150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Avatar
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",en,Pirates of the Caribbean: At World's End,139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pirates of the Caribbean: At World's End
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,Spectre,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,Spectre
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",en,The Dark Knight Rises,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Dark Knight Rises
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,John Carter,43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,John Carter

**2. Change release_date column to datetime**

In [12]:
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])

In [13]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   original_language     4803 non-null   object
 3   original_title        4803 non-null   object
 4   popularity            4803 non-null   float64
 5   production_countries  4803 non-null   object
 6   release_date          4802 non-null   datetime64[ns]
 7   revenue               4803 non-null   int64
 8   runtime               4801 non-null   float64
 9   spoken_languages      4803 non-null   object
 10  status                4803 non-null   object
 11  title                 4803 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 450.4+ KB

**3. Remove NAN rows in the data**

**Runtime** is float type -> replace with its mean

In [14]:
runtime_mean = movies_df['runtime'].mean()
runtime_mean

106.87585919600083

In [15]:
movies_df['runtime'].fillna(runtime_mean, inplace=True)

In [16]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   original_language     4803 non-null   object
 3   original_title        4803 non-null   object
 4   popularity            4803 non-null   float64
 5   production_countries  4803 non-null   object
 6   release_date          4802 non-null   datetime64[ns]
 7   revenue               4803 non-null   int64
 8   runtime               4803 non-null   float64
 9   spoken_languages      4803 non-null   object
 10  status                4803 non-null   object
 11  title                 4803 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 450.4+ KB

**Release date** is datetime --> decide to drop the NA row since it could not be replaced with unknown values

In [17]:
release_date_drop = movies_df[movies_df['release_date'].isnull()]
release_date_drop

,budget,genres,original_language,original_title,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,title
4553,0,[],en,America Is Still the Place,0.0,[],NaT,0,0.0,[],Released,America Is Still the Place

In [18]:
movies_df.drop(release_date_drop.index, inplace=True)

In [19]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4802 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4802 non-null   int64
 1   genres                4802 non-null   object
 2   original_language     4802 non-null   object
 3   original_title        4802 non-null   object
 4   popularity            4802 non-null   float64
 5   production_countries  4802 non-null   object
 6   release_date          4802 non-null   datetime64[ns]
 7   revenue               4802 non-null   int64
 8   runtime               4802 non-null   float64
 9   spoken_languages      4802 non-null   object
 10  status                4802 non-null   object
 11  title                 4802 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 487.7+ KB

**After remove the NAN release_date realize that in budget column there is many 0 values -> also checking for revenue.**

In [20]:
movies_df.query('budget == 0').count()

budget                  1036
genres                  1036
original_language       1036
original_title          1036
popularity              1036
production_countries    1036
release_date            1036
revenue                 1036
runtime                 1036
spoken_languages        1036
status                  1036
title                   1036
dtype: int64

In [21]:
movies_df.query('revenue == 0').count()

budget                  1426
genres                  1426
original_language       1426
original_title          1426
popularity              1426
production_countries    1426
release_date            1426
revenue                 1426
runtime                 1426
spoken_languages        1426
status                  1426
title                   1426
dtype: int64

**4. Remove all rows that have 0 in revenue and buget**

In [22]:
temp_col = ['budget', 'revenue']

#Replace zero values with NAN, then use dropna
movies_df[temp_col] = movies_df[temp_col].replace(0, np.nan)

In [23]:
#Check if it works
print(movies_df.query('budget == 0')['budget'].count(),movies_df.query('revenue == 0')['budget'].count() )

0 0

In [24]:
movies_df.isnull().any()

budget                   True
genres                  False
original_language       False
original_title          False
popularity              False
production_countries    False
release_date            False
revenue                  True
runtime                 False
spoken_languages        False
status                  False
title                   False
dtype: bool

In [25]:
#Drop these rows
movies_df.dropna(subset=temp_col, inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3229 entries, 0 to 4798
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3229 non-null   float64
 1   genres                3229 non-null   object
 2   original_language     3229 non-null   object
 3   original_title        3229 non-null   object
 4   popularity            3229 non-null   float64
 5   production_countries  3229 non-null   object
 6   release_date          3229 non-null   datetime64[ns]
 7   revenue               3229 non-null   float64
 8   runtime               3229 non-null   float64
 9   spoken_languages      3229 non-null   object
 10  status                3229 non-null   object
 11  title                 3229 non-null   object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 327.9+ KB

In [26]:
movies_df.isnull().any()

budget                  False
genres                  False
original_language       False
original_title          False
popularity              False
production_countries    False
release_date            False
revenue                 False
runtime                 False
spoken_languages        False
status                  False
title                   False
dtype: bool

**5. Change type budget and revenue to int**

In [27]:
movies_df['budget'] = movies_df['budget'].astype('int64')
movies_df['revenue'] = movies_df['revenue'].astype('int64')

In [29]:
movies_df.dtypes

budget                           int64
genres                          object
original_language               object
original_title                  object
popularity                     float64
production_countries            object
release_date            datetime64[ns]
revenue                          int64
runtime                        float64
spoken_languages                object
status                          object
title                           object
dtype: object

## Save the data into a clean one:

In [31]:
movies_df.to_csv('clean_tmdb_5000_movies.csv', index=False)